Repository Graveside2022/pisad: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for PISAD project
# Hardware-integrated system with realistic coverage targets

coverage:
  # 67% is production-ready for hardware-integrated systems
  # Missing coverage is primarily hardware-dependent code
  status:
    project:
      default:
        target: 65%  # Minimum acceptable
        threshold: 2% # Allow 2% variance
    patch:
      default:
        target: 60%  # New code should maintain standards

  # Component-specific thresholds
  flags:
    backend:
      target: 65%
      paths:
        - src/backend/
    frontend:
      target: 50%
      paths:
        - src/frontend/

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Ignore hardware-dependent and generated files
ignore:
  - "tests/"
  - "docs/"
  - "scripts/"
  - "deployment/"
  - "**/__pycache__"
  - "**/node_modules"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/test_*.py"

# Flag definitions for component tracking
flags:
  backend:
    paths:
      - src/backend/
    carryforward: true
  frontend:
    paths:
      - src/frontend/
    carryforward: true

docs: Complete TASK-4.6.2 Core Services Coverage Enhancement code review
  docs/stories/4.6_CLEAN.md
Due: none

feat: Complete TASK-4.6.3 Safety Systems Comprehensive Coverage
  TASKS.md
  data/pisad.db
  docs/prd/user-interface-design-goals.md
  docs/stories/1.4_CLEAN.md
  tests/backend/unit/test_safety.py
  tests/backend/unit/test_safety_manager.py
Due: none

feat: Complete TASK-1.4.10-WATERFALL Enhanced Spectrum Waterfall Display
  TASKS.md
  data/pisad.db
  docs/stories/1.4_CLEAN.md
  docs/stories/4.6_CLEAN.md
  src/backend/api/routes/spectrum.py
  src/backend/core/app.py
  src/backend/hal/hackrf_interface.py
  src/backend/models/schemas.py
  src/backend/services/sdr_service.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/spectrum/FrequencyControl.tsx
  src/frontend/src/components/spectrum/WaterfallDisplay.tsx
  tests/backend/unit/test_safety.py
  tests/backend/unit/test_safety_manager.py
  tests/backend/unit/test_spectrum_api.py
  tests/frontend/components/FrequencyControl.test.tsx
  tests/frontend/components/WaterfallDisplay.test.tsx
Due: backend, frontend

feat: Create PRD-aligned scope recalibration for TASK-4.6 coverage
  data/pisad.db
  docs/stories/4.6_CLEAN_RECALIBRATED.md
Due: none

feat: Consolidate PRD-aligned scope into main 4.6_CLEAN.md
  data/pisad.db
  docs/stories/4.6_CLEAN.md
  docs/stories/4.6_CLEAN_RECALIBRATED.md
Due: none

chore: Fix formatting after Epic 5 implementation
  TASKS.md
  data/pisad.db
  docs/EPIC-5-FUNCTIONAL-REQUIREMENTS-ALIGNMENT.md
  docs/architecture.md
  docs/stories/4.6_CLEAN.md
  docs/stories/5.1_SDR++_Plugin_Framework.md
  docs/stories/5.2_TCP_Communication_Implementation.md
  docs/stories/5.3_Dual_SDR_Coordination.md
  docs/stories/5.4_UI_Integration_Operator_Workflow.md
  docs/stories/5.5_Safety_System_Integration.md
  docs/stories/5.6_Performance_Optimization_Testing.md
  docs/stories/5.7_Field_Testing_Campaign.md
  docs/stories/5.8_Production_Deployment_Documentation.md
  docs/stories/SDR++_realignment.md
Due: none

feat: Complete Epic 5 Story 5.1 SDR++ Plugin Core Development
  TASKS.md
  TASK_INSTRUCTIONS.md
  data/pisad.db
  docs/stories/5.1_SDR++_Plugin_Framework.md
  src/sdrpp_plugin/CMakeLists.txt
  src/sdrpp_plugin/pisad_bridge.cpp
  src/sdrpp_plugin/pisad_bridge.h
  src/sdrpp_plugin/test_main.cpp
  tests/backend/unit/test_sdrpp_plugin.py
Due: none

feat: Complete SUBTASK-5.2.1.6 Signal Processor Integration
  data/pisad.db
  docs/stories/5.1_SDR++_Plugin_Framework.md
  docs/stories/5.2_TCP_Communication_Implementation.md
Due: none

feat: Implement frequency control handler in SDR++ TCP bridge service
  docs/stories/5.2_TCP_Communication_Implementation.md
  src/backend/services/sdrpp_bridge_service.py
  tests/backend/unit/test_sdrpp_bridge_service.py
Due: backend

feat: Implement heartbeat monitoring for SDR++ TCP bridge service
  data/pisad.db
  docs/Sprint_manager.md
  docs/stories/5.2_TCP_Communication_Implementation.md
  src/backend/services/sdrpp_bridge_service.py
  tests/backend/unit/test_sdrpp_bridge_service.py
Due: backend

feat: Complete SUBTASK-5.2.1.9 graceful shutdown and SUBTASK-5.2.1.10 ServiceManager integration
  TASKS.md
  data/pisad.db
  docs/Sprint_manager.md
  docs/stories/5.2_TCP_Communication_Implementation.md
  src/backend/core/dependencies.py
  src/backend/services/sdrpp_bridge_service.py
  tests/backend/unit/test_sdrpp_bridge_service.py
Due: backend

feat: Complete TASK-5.3.1-COORDINATOR dual SDR coordination service
  docs/stories/5.3_Dual_SDR_Coordination.md
  src/backend/services/dual_sdr_coordinator.py
  tests/backend/integration/test_dual_sdr_integration.py
  tests/backend/unit/test_dual_sdr_coordinator.py
Due: backend

Add CodeRabbit configuration for automated code review
  .coderabbit.yaml
Due: none

Test CodeRabbit integration
  README.md
Due: none

Commit all changes for CodeRabbit review - TCP implementation, tests, and configuration updates
  .coderabbit.yaml
  TASKS.md
  data/pisad.db
  docs/stories/5.2_TCP_Communication_Implementation.md
  src/sdrpp_plugin/CMakeLists.txt
  src/sdrpp_plugin/pisad_bridge.cpp
  src/sdrpp_plugin/pisad_bridge.h
  src/sdrpp_plugin/standalone_tcp_client.cpp
  src/sdrpp_plugin/test_tcp_client.cpp
  tests/backend/integration/test_sdrpp_connection_resilience.py
  tests/backend/integration/test_sdrpp_load_testing.py
  tests/backend/integration/test_sdrpp_performance_benchmarks.py
  tests/backend/integration/test_sdrpp_protocol_validation.py
  tests/backend/integration/test_sdrpp_sitl_integration.py
  tests/backend/integration/test_sdrpp_tcp_basic.py
  tests/backend/integration/test_sdrpp_tcp_communication.py
Due: none

Update TCP implementation and standalone client
  docs/stories/5.2_TCP_Communication_Implementation.md
  src/sdrpp_plugin/standalone_tcp_client.cpp
Due: none

feat: Complete Epic 5.5 Safety System Integration with SDR++ coordination
  docs/stories/5.5_Safety_System_Integration.md
  src/backend/services/dual_sdr_coordinator.py
  src/backend/services/safety_integration_analysis.py
  src/backend/services/sdr_priority_manager.py
  src/backend/services/sdrpp_bridge_service.py
  src/backend/utils/coordination_optimizer.py
  src/backend/utils/safety.py
  tests/backend/integration/test_coordination_performance.py
  tests/backend/integration/test_safety_integration_analysis.py
  tests/backend/integration/test_sdr_priority_integration.py
  tests/backend/unit/test_coordination_optimizer.py
  tests/backend/unit/test_enhanced_safety_interlocks.py
  tests/backend/unit/test_sdr_priority_manager.py
  tests/backend/unit/test_sdrpp_bridge_safety_integration.py
Due: backend

feat: Improve pre-commit hooks and fix code quality issues
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/backend/services/dual_sdr_coordinator.py
  src/backend/services/safety_integration_analysis.py
  src/backend/utils/coordination_optimizer.py
  src/backend/utils/safety.py
Due: backend

feat: Update Story 5.2 TASK-5.2.3-TESTING to completed status
  docs/stories/5.2_Story.md
Due: none

feat: Complete TASK-6.1.2-SINGLE-FREQUENCY-ENHANCEMENT SUBTASK-6.1.2.1
  TASKS.md
  docs/stories/5.6_Story.md
  docs/stories/6.1_Story.md
  src/backend/services/asv_integration/asv_analyzer_factory.py
  src/backend/services/asv_integration/asv_configuration_manager.py
  src/backend/services/asv_integration/asv_hackrf_coordinator.py
  src/backend/utils/resource_optimizer.py
  tests/backend/unit/asv_integration/test_single_frequency_coordinator.py
  tests/performance/test_resource_usage.py
Due: backend

feat: Complete TASK-5.6.2.2 [7f] thermal validation and power limit compliance
  docs/stories/5.6_Story.md
  docs/stories/6.1_Story.md
  src/backend/services/asv_integration/asv_analyzer_wrapper.py
  src/backend/services/asv_integration/asv_configuration_manager.py
  src/backend/services/asv_integration/asv_enhanced_homing_integration.py
  src/backend/services/asv_integration/asv_enhanced_signal_processor.py
  src/backend/services/asv_integration/asv_hackrf_coordinator.py
  src/backend/services/asv_integration/asv_interop_service.py
  src/backend/services/asv_integration/exceptions.py
  src/backend/services/signal_processor.py
  src/backend/utils/resource_optimizer.py
  tests/backend/unit/asv_integration/test_asv_components_validation.py
  tests/backend/unit/asv_integration/test_asv_enhanced_homing_integration.py
  tests/backend/unit/asv_integration/test_asv_enhanced_signal_processor.py
  tests/backend/unit/asv_integration/test_asv_hackrf_coordinator.py
  tests/backend/unit/asv_integration/test_asv_integration_layer.py
  tests/backend/unit/asv_integration/test_asv_interop_service.py
  tests/backend/unit/asv_integration/test_asv_validation.py
  tests/performance/test_cpu_monitoring.py
  tests/performance/test_cpu_monitoring_part2.py
  tests/performance/test_resource_usage.py
  tests/performance/test_signal_processing_optimization.py
Due: backend

feat: Add comprehensive network configuration, operator guides, and ASV telemetry integration
  config/default.yaml
  docs/operator-guides/mission_planner_asv_integration.md
  docs/stories/5.6_Story.md
  docs/stories/6.1_Story.md
  src/backend/api/routes/asv_integration.py
  src/backend/api/routes/config.py
  src/backend/api/websocket.py
  src/backend/constants/websocket_messages.py
  src/backend/core/config.py
  src/backend/core/config_enhanced.py
  src/backend/services/asv_integration/asv_analyzer_wrapper.py
  src/backend/services/asv_integration/asv_configuration_manager.py
  src/backend/services/asv_integration/asv_hackrf_coordinator.py
  src/backend/services/mavlink_service.py
  src/backend/services/safety_authority_manager.py
  src/backend/services/safety_manager.py
  src/backend/services/sdr_service.py
  src/backend/services/sdrpp_bridge_service.py
  src/backend/services/signal_processor.py
  src/backend/utils/async_io_helpers.py
  src/backend/utils/performance_monitor.py
  src/backend/utils/resource_optimizer.py
  tests/backend/integration/test_mission_planner_workflow_integration.py
  tests/backend/unit/asv_integration/test_task_17c_safety_authority_preservation.py
  tests/backend/unit/asv_integration/test_task_17d_health_monitoring.py
  tests/backend/unit/test_bandwidth_throttle_config.py
  tests/backend/unit/test_default_yaml_loading.py
  tests/backend/unit/test_mavlink_asv_telemetry_integration.py
  tests/backend/unit/test_mavlink_mission_planner_integration.py
  tests/backend/unit/test_network_config_api.py
  tests/backend/unit/test_network_config_enhanced.py
  tests/backend/unit/test_resource_optimizer_config.py
  tests/backend/unit/test_yaml_network_config.py
  tests/performance/test_bandwidth_latency_validation.py
  tests/performance/test_resource_monitoring.py
Due: backend

feat: Complete TASK-6.2.1.3 [23b4] interference rejection filtering
  TASKS.md
  docs/stories/5.6_Story.md
  docs/stories/6.2_Story.md
  docs/stories/6.4_Story.md
  src/backend/models/schemas.py
  src/backend/services/asv_integration/asv_degradation_recovery.py
  src/backend/services/asv_integration/asv_enhanced_homing_integration.py
  src/backend/services/homing_algorithm.py
  src/backend/services/signal_processor.py
  src/backend/utils/doppler_compensation.py
  src/backend/utils/graceful_degradation.py
  src/backend/utils/performance_monitor.py
  tests/backend/unit/test_enhanced_rssi_degradation_recovery.py
  tests/backend/unit/test_enhanced_signal_processing_integration.py
  tests/backend/unit/test_signal_processor.py
  tests/performance/test_graceful_degradation.py
  tests/performance/test_resource_monitoring.py
Due: backend

feat: Complete Story 6.4 operator documentation with step-by-step procedures
  docs/stories/6.2_Story.md
  docs/stories/6.4_Story.md
Due: none

docs: Update Story 6.4 with comprehensive dual-HackRF operational workflow
  docs/stories/6.2_Story.md
  docs/stories/6.4_Story.md
Due: none

docs: Update Story 6.4 with ASV .NET integration architecture
  docs/stories/6.4_Story.md
Due: none

feat: Complete complementary SDR++ Plugin + ASV .NET integration documentation and UI
  docs/stories/6.2_Story.md
  docs/stories/6.4_Story.md
  src/backend/models/schemas.py
  src/backend/services/homing_controller.py
  src/backend/services/signal_processor.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/dashboard/SDRPlusConnectionPanel.tsx
  src/frontend/src/components/spectrum/WaterfallDisplay.tsx
  src/frontend/src/utils/d3-waterfall.ts
  tests/backend/integration/test_enhanced_algorithm_adaptive_search_validation.py
  tests/backend/integration/test_enhanced_algorithm_bearing_validation.py
  tests/backend/integration/test_enhanced_algorithm_performance_validation.py
  tests/backend/integration/test_enhanced_algorithm_resource_usage_validation.py
  tests/backend/integration/test_enhanced_algorithm_safety_integration_validation.py
  tests/backend/integration/test_enhanced_algorithm_system_stability_validation.py
  tests/backend/unit/test_signal_processor.py
  tests/backend/unit/test_task_6_2_2_homing_controller_integration.py
  tests/frontend/components/WaterfallDisplay.d3.test.tsx
  tests/frontend/components/WaterfallDisplay.test.tsx
Due: backend, frontend

feat: Update Story 6.4 for single HackRF TCP bridge configuration
  docs/stories/6.4_Story.md
Due: none

docs: Update Story 6.4 and UI for single HackRF professional SAR configuration
  docs/stories/6.4_Story.md
  src/frontend/src/components/dashboard/SDRPlusConnectionPanel.tsx
Due: frontend

feat: Complete TASK-6.3.1 Mission Planner Parameter Interface for RF Control
  src/backend/services/mavlink_service.py
Due: backend

docs: Update Story 6.4 and UI for single HackRF professional SAR configuration
  TASKS.md
  docs/stories/6.2_Story.md
  docs/stories/6.3_Story.md
  docs/stories/6.4_Story.md
  tests/backend/integration/test_enhanced_algorithm_system_stability_validation.py
Due: none

feat: Complete Story 1.1 Enhancement Tasks - Configuration Validation & Advanced Logging
  config/development.yaml
  config/logging.yaml
  config/production.yaml
  docs/stories/1.1_Story.md
  pyproject.toml
  src/backend/core/config_validator.py
  src/backend/utils/logging_config.py
  tests/backend/unit/test_config_validator.py
  tests/backend/unit/test_logging_config.py
Due: backend

feat: Implement FR7 Debounced State Transitions with Configurable Thresholds
  config/default.yaml
  docs/stories/2.2_Story.md
  src/backend/services/state_machine.py
  tests/backend/unit/test_state_machine_debounce.py
Due: backend

feat: Code quality improvements and comprehensive documentation
  docs/DEVELOPMENT.md
  docs/api/README.md
  docs/stories/1.1_Story.md
  docs/stories/2.2_Story.md
  pyproject.toml
  src/backend/core/config.py
  src/backend/services/hardware_detector.py
  src/backend/services/homing_algorithm.py
  src/backend/services/mavlink_service.py
  src/backend/services/state_machine.py
Due: backend
