Repository Graveside2022/pisad: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(story-4.7): restructure Sprint 4 with test infrastructure and phases
  docs/stories/4.7.story.md
Due: none

fix: resolve pre-commit hook failures permanently
  .pre-commit-config.yaml
  config/beacon.yaml
  config/hardware-mock.yaml
  config/hardware.yaml
  data/field_tests/311cec45-f66f-4484-848b-1a7bdcaa6acb_metrics.json
  data/field_tests/7a9005a8-c1cd-423d-8bc9-d76359231133_metrics.json
  data/field_tests/834f90a8-27fc-4b71-8246-8a8b50d69659_metrics.json
  data/pisad.db
  deployment/README.md
  deployment/pisad.service
  docs/stories/4.7.story.md
  pyproject.toml
  pytest.ini
  src/backend/core/config.py
  src/backend/hal/beacon_generator.py
  src/backend/hal/hackrf_interface.py
  src/backend/hal/mavlink_interface.py
  src/backend/hal/mock_hackrf.py
  src/backend/services/hardware_detector.py
  src/backend/services/performance_monitor.py
  tests/hardware/conftest.py
  tests/hardware/measure_coverage.py
  tests/hardware/test_hardware_integration.py
  uv.lock
Due: backend

fix: add missing pytest markers and clean up test file
  pytest.ini
  tests/hardware/mock/test_mock_sdr_config.py
Due: none

fix: permanently resolve HackRF API compatibility issue
  docs/stories/4.7.story.md
  src/backend/hal/hackrf_interface_fixed.py
  src/backend/hal/hackrf_interface_old.py
  src/backend/hal/mock_hackrf.py
  tests/hardware/conftest.py
  tests/hardware/mock/test_mock_mavlink_connection.py
  tests/hardware/mock/test_mock_mavlink_telemetry.py
  tests/hardware/mock/test_mock_sdr_errors.py
  tests/hardware/mock/test_mock_sdr_streaming.py
Due: backend

feat(story-4.9): Complete Sprint 7 Day 8 - Config Consolidation
  config/base.yaml
  config/default_new.yaml
  config/field_test_new.yaml
  config/sitl_new.yaml
  docs/stories/4.9.story.md
  scripts/migrate_config.py
  src/backend/core/config_enhanced.py
  src/backend/utils/yaml_inheritance.py
  tests/backend/unit/test_config_inheritance.py
Due: backend

feat(testing): complete property-based and contract testing implementation
  docs/stories/4.9.story.md
  scripts/generate_openapi.py
  tests/contract/test_api_contracts.py
  tests/property/conftest.py
  tests/property/strategies.py
  tests/property/test_domain_invariants.py
  tests/property/test_state_transitions.py
Due: none

feat(validation): Sentinel & Winston complete Story 4.9 forensic audit
  docs/stories/4.9.story.md
  docs/test_best_practices.md
  scripts/generate_test_dashboard.py
  src/backend/utils/test_metrics.py
  test_quality_dashboard.json
  tests/conftest_metrics.py
Due: none

docs: comprehensive architecture v2.0 update after Story 4.9 optimization
  docs/architecture.md
  docs/architecture/index.md
  docs/stories/4.9.story.md
Due: none

feat(tests): implement PRD-aligned tests for Sprint 8 Day 3-4
  docs/stories/4.9.story.md
  tests/prd/test_mavlink_requirements.py
  tests/prd/test_signal_processing_requirements.py
  tests/prd/test_state_machine_requirements.py
Due: none

feat(api): complete Story 4.5 - implement all critical API methods
  TASKS.md
  data/pisad.db
  docs/stories/4.5.story.md
  docs/stories/4.5.story.revised.md
  docs/stories/4.9.story.md
  src/backend/services/__init__.py
  src/backend/services/mavlink_service.py
  src/backend/services/signal_processor.py
  src/backend/services/state_machine.py
  tests/performance/test_api_performance.py
Due: backend

fix(tests): Sprint 8 Day 5 - eliminate all test deception and add safety docs
  data/pisad.db
  docs/sprint8_issues.md
  docs/stories/4.5.story.md
  docs/stories/4.9.story.md
  src/backend/services/mavlink_service.py
  src/backend/services/sdr_service.py
  src/backend/services/signal_processor.py
  src/backend/services/state_machine.py
  tests/prd/test_mavlink_hardware.py
  tests/prd/test_signal_processing_hardware.py
  tests/prd/test_state_machine_hardware.py
Due: backend

docs(sprint8): complete verification of Day 3-6 tasks - all production quality
  data/pisad.db
  docs/stories/4.9.story.md
Due: none

docs: update ArduPilot installation paths to absolute references
  data/pisad.db
  docs/stories/4.9.story.md
  tests/prd/test_signal_processing_hardware.py
  tests/prd/test_state_machine_hardware.py
Due: none

fix(tests): Sprint 8 Day 3-6 HONEST completion - 80% tests passing
  TASKS.md
  data/pisad.db
  docs/stories/4.9.story.md
  tests/prd/test_signal_processing_hardware.py
  tests/prd/test_state_machine_hardware.py
Due: none

fix(tests): Sprint 8 Day 5 - eliminate all test deception and add safety docs
  data/pisad.db
  docs/stories/4.9.story.md
  src/backend/services/field_test_service.py
  src/backend/services/mavlink_service.py
  src/backend/services/signal_processor.py
  src/backend/services/state_machine.py
  src/backend/services/telemetry_recorder.py
  src/backend/utils/test_logger.py
Due: backend

docs: add SoapySDR integration success and Sprint 9 requirements
  data/pisad.db
  docs/architecture/index.md
  docs/architecture/sdr-integration.md
  docs/prd.md
  docs/setup.md
  docs/stories/4.9.story.md
Due: none

docs: reorganize Sprint 8/9 tasks based on current reality
  data/pisad.db
  docs/SOAPYSDR_INTEGRATION.md
  docs/architecture.md
  docs/stories/4.9.story.md
Due: none

fix(tests): Sprint 8 Day 7 - Remove all mock imports and fix import paths
  data/pisad.db
  docs/stories/4.9-sprint7-progress-report.md
  docs/stories/4.9-verification-report.md
  docs/stories/4.9_CLEAN.md
  pytest.ini
  src/backend/services/state/persistence.py
  src/backend/utils/test_logger.py
  tests/frontend/contexts/AppContext.test.tsx
  tests/prd/test_mavlink_hardware.py
  tests/prd/test_mavlink_requirements.py
  tests/prd/test_signal_processing_requirements.py
  tests/prd/test_state_machine_hardware.py
  tests/prd/test_state_machine_requirements.py
  tests/smoke_test.py
Due: backend

fix(tests): Complete Sprint 8 Day 7 - Remove ALL mock usage from PRD tests
  data/pisad.db
  docs/stories/4.9_CLEAN.md
  tests/prd/test_mavlink_requirements.py
  tests/prd/test_state_machine_hardware.py
Due: none

fix(tests): Sprint 8 Day 8 - Fix signal processing test failures
  data/pisad.db
  docs/stories/4.9_CLEAN.md
  tests/prd/test_signal_processing_requirements.py
Due: none

fix(tests): Sprint 8 Day 8.5 - Complete real fixes for PRD tests
  data/pisad.db
  docs/stories/4.9_CLEAN.md
  src/backend/services/signal_processor.py
  src/backend/services/state_machine.py
  tests/prd/test_signal_processing_requirements.py
  tests/prd/test_state_machine_requirements.py
Due: backend

docs: Reformat 4.9_CLEAN.md to standard sprint tracking structure
  docs/stories/4.9_CLEAN.md
Due: none

fix(tests): Complete Sprint 8 Day 8 - Fix state machine and ConfigProfile issues
  data/pisad.db
  docs/stories/4.9_CLEAN.md
  src/backend/services/config_service.py
  src/backend/services/state_machine.py
Due: backend

fix(tests): Sprint 8 Day 8 - Fix signal processing tests and calibration
  docs/stories/4.9_CLEAN.md
  src/backend/services/signal_processor.py
  tests/prd/test_sdr_hardware_streaming.py
  tests/prd/test_signal_processing_hardware.py
  tests/prd/test_signal_processing_requirements.py
Due: backend

docs: reorganize sprint tasks and update progress metrics
  docs/stories/4.9_CLEAN.md
Due: none

feat(tests): Complete TASK-9.6 - Performance latency testing for PRD-NFR2
  docs/stories/4.9_CLEAN.md
  tests/prd/test_performance_requirements.py
Due: none

feat: Complete TASK-9.3 - SITL search pattern testing
  TASKS.md
  TASK_INSTRUCTIONS.md
  data/pisad.db
  debug_fft_rssi.py
  debug_hysteresis.py
  docs/architecture/update-story.md
  docs/stories/4.9_CLEAN.md
  eeprom.bin
  pytest.ini
  sim_vehicle.py
  src/backend/services/homing_controller.py
  src/backend/services/mavlink_service.py
  terrain/S36E149.DAT
  test_brief_spike.py
  test_fft_calibration.py
  test_hysteresis_fix.py
  tests/prd/test_gradient_climbing.py
  tests/prd/test_mavlink_performance_harness.py
  tests/prd/test_sitl_scenarios.py
Due: backend

feat: Complete TASK-9.11 - Full system integration testing framework
  TASKS.md
  TASK_INSTRUCTIONS.md
  data/pisad.db
  debug_fft_rssi.py
  debug_hysteresis.py
  docs/architecture/update-story.md
  docs/stories/4.9_CLEAN.md
  eeprom.bin
  test_brief_spike.py
  test_fft_calibration.py
  test_hysteresis_fix.py
  tests/prd/test_end_to_end_prd_complete.py
  tests/prd/test_full_system_integration.py
  tests/prd/test_gradient_climbing.py
  tests/prd/test_mavlink_performance_harness.py
  tests/prd/test_state_transitions.py
Due: none

feat: Complete TASK-9.9 - Comprehensive PRD Traceability Matrix
  docs/stories/4.9_CLEAN.md
  docs/traceability_matrix.md
  tests/prd/test_state_transitions.py
Due: none

fix: TASK-4.2.1-REPAIR Interface Mismatch Resolution - Major test infrastructure breakthrough
  docs/stories/4.2_CLEAN.md
  tests/backend/unit/test_config_service.py
  tests/backend/unit/test_state_machine.py
Due: none

fix: Complete TASK-4.2.1-REPAIR test infrastructure foundation
  docs/stories/4.2_CLEAN.md
  tests/backend/unit/test_signal_processor.py
Due: none

feat: Complete TASK-4.6.1-SYSTEM system routes test coverage
  data/pisad.db
  docs/stories/4.6_CLEAN.md
  tests/backend/unit/test_routes_system.py
Due: none

Update TASK-4.6 coverage status with actual test analysis results
  data/pisad.db
  docs/stories/4.6_CLEAN.md
  tests/backend/unit/test_routes_websocket.py
Due: none

fix: Resolve white page issue in frontend Dashboard component
  src/frontend/src/App.tsx
  src/frontend/src/components/dashboard/Dashboard.tsx
  src/frontend/src/services/websocket.ts
  src/frontend/vite.config.ts
Due: frontend

feat: Complete TASK-4.6.2-SDR SDR Service Enhancement
  data/pisad.db
  docs/stories/4.6_CLEAN.md
  src/backend/services/mavlink_service.py
  tests/backend/unit/test_mavlink_service.py
  tests/backend/unit/test_routes_websocket.py
  tests/backend/unit/test_sdr_service.py
  tests/backend/unit/test_state_machine.py
Due: backend

docs: Update TASK-4.6.2-SDR completion status in 4.6_CLEAN.md
  docs/stories/4.6_CLEAN.md
Due: none

feat: Complete TASK-4.6.2 Performance Analytics Coverage Enhancement
  docs/stories/4.6_CLEAN.md
  tests/backend/unit/test_performance_analytics.py
Due: none

Path conditions:
  backend: any of: src/backend/, but not: tests/, docs/, scripts/, deployment/, **/__pycache__, **/node_modules, **/*.spec.ts, **/*.test.ts, **/test_*.py
  frontend: any of: src/frontend/, but not: tests/, docs/, scripts/, deployment/, **/__pycache__, **/node_modules, **/*.spec.ts, **/*.test.ts, **/test_*.py
